---
component: navbar
---
<div id="header">
  <div class="content">
    <div class="container">
      <div class="nav">
        <a href="http://choosatron.com">
          <img class="logo" src="{{assets}}/choosatron-logo.png">
        </a>
      </div>
    </div>
  </div>
</div>